**TRATAMENTO DOS DADOS E OBTENÇÃO DAS CHAVES PRIMÁRIAS**

In [1]:
import pandas as pd
import chardet
#Colocação do encoding de leitura
pd.set_option("display.precision",0)
with open('Data_all_July 2020_insert.csv', 'rb') as f:
    enc = chardet.detect(f.read())

Leitura do dataset inicial

In [2]:
dados = pd.read_csv('Data_all_July 2020_insert.csv', encoding=enc['encoding'], sep=";")
dados_source = pd.read_csv('Source.csv', encoding=enc['encoding'], sep=";")
dados_source.columns = ["Organismo", "Source_Entity", "Source_Type", "Target", "Target_Entity", "Target_Type"]
dados_source

Colocação do ID da ENTIDADE

In [47]:
types = set()
for _, row in dados_source.iterrows():
    source, target = row["Source_Entity"], row["Target_Entity"]
    types.add(source), types.add(target)
types_list = list(types)

In [48]:
ids = [i+1 for i in range(len(types_list))]

In [49]:
data = {"ID": ids, "Type": types_list}
dados_entidade = pd.DataFrame(data)
dados_entidade

      ID            Type
0      1   SAOUHSC_00281
1      2          PA4218
2      3     CR_05860W_A
3      4            mexG
4      5            isdC
..   ...             ...
892  893            lpdG
893  894  USA300HOU_2200
894  895  SAOUHSC_T00016
895  896            nrdI
896  897     C3_05450C_A

[897 rows x 2 columns]

In [50]:
#Entidade
dados_entidade.to_csv("Type_id", sep='\t', encoding='utf-8')

In [51]:
ids = []
for _, row in dados_source.iterrows():
    dtype = row["Source_Entity"]
    arr = dados_entidade.loc[dados_entidade["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
print(len(ids))
#print(ids)

1311

Colocação da ENTIDADE para cada linha da coluna INTERAÇÃO

In [52]:
dados_source["Source_ID"] = ids
dados_source

,Organismo,Source_Entity,Source_Type,Target,Target_Entity,Target_Type,Source_ID
0,P. aeruginosa,3-oxo-C12-HSL,QS molecule,C. albicans,Adhesion,Virulence mechanism,438
1,P. aeruginosa,C4HSL,QS molecule,C. albicans,Adhesion,Virulence mechanism,885
2,P. aeruginosa,Cell,Cell,C. albicans,Adhesion,Virulence mechanism,248
3,P. aeruginosa,HHQ,QS molecule,C. albicans,Adhesion,Virulence mechanism,858
4,P. aeruginosa,PQS,QS molecule,C. albicans,Adhesion,Virulence mechanism,611
...,...,...,...,...,...,...,...
1306,S. aureus,Cell,Cell,P. aeruginosa,PA5312,Gene,248
1307,S. aureus,Cell,Cell,P. aeruginosa,PA5313,Gene,248
1308,P. aeruginosa,LasA protease,Virulence Factor,S. aureus,Cell,Cell,177
1309,S. aureus,Cell,Cell,P. aeruginosa,Cell,Cell,248
1310,P. aeruginosa,Staphylolytic toxin,Virulence Factor,S. aureus,Cell,Cell,532

In [53]:
ids = []
for _, row in dados_source.iterrows():
    dtype = row["Target_Entity"]
    arr = dados_entidade.loc[dados_entidade["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [54]:
dados_source["Target_ID"] = ids
dados_source

dados_source.to_csv("Source_Target_id", sep='\t', encoding='utf-8')

In [ ]:
#dados_source = dados_source.drop("Source_Entity", axis=1)
#dados_source = dados_source.drop("Target_Entity", axis=1)

Depois de remover as colunas da entidade e colocar as previamente criadas com as chaves

In [2]:
dados_int= pd.read_csv("Dados_Sorce_Target_Number.csv",encoding=enc['encoding'], sep=";")
dados_int

,ï»¿Year,Source,Source_ent_ID,Source_Type,Interaction_type,Target,Target_ent_ID,Target_Type,Mode_Growth,Method,Disease,Strain,Observations,URL
0,2017,1,569,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
1,2017,1,20,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
2,2017,1,840,Cell,2,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
3,2017,1,472,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
4,2017,1,440,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,Cell,Null Effect,1,806,Gene,Planktonic,Microarray,11,P. aeruginosa PA14; S. aureus MN8,The iron regulated Gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927
1307,2005,3,840,Cell,Null Effect,1,389,Gene,Planktonic,Microarray,11,P. aeruginosa PA14; S. aureus MN8,The iron regulated Gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927
1308,1993,3,508,Virulence factor,2,3,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,P. aeruginosa PAO1; S. aureus Newman D2C,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280
1309,1993,3,840,Cell,1,1,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,P. aeruginosa PAO1; S. aureus Newman D2C,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280
1310,1986,1,325,Virulence factor,2,3,840,Cell,Planktonic,Purification of toxins via electrophoresis,1,P. aeruginosa clinical isolates; S. aureus ATC...,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524

Obtenção das chaves para cada "Strain" da tabela INTERAÇÃO

In [337]:
types = set()
for _, row in dados_int.iterrows():
    strain = row["Strain"]
    types.add(strain)
types_list = list(types)

In [338]:
ids = [i+1 for i in range(len(types_list))]

data = {"ID": ids, "Type": types_list}
dados_strain = pd.DataFrame(data)
dados_strain
#dados_strain.to_csv("T", sep='\t', encoding='utf-8')

      ID                                               Type
0      1              P. aeruginosaUCBPP-PA14; S. aureusMN8
1      2  C. albicans SC5314; P. aeruginosa PAO1, seven ...
2      3       P. aeruginosa ?mucA ?pslBCD; S. aureus 15981
3      4           P. aeruginosaÂ DK2; S. aureusÂ LMG 10147
4      5        P. aeruginosa DK2-P2M24-2003;  S. aureusJE2
..   ...                                                ...
120  121                               C. albicans BWP17AHU
121  122                P. aeruginosa PAO1; S. aureus 15981
122  123  P. aeruginosa PAO1 and persistent isolates; S....
123  124   P. aeruginosa DK2 isolate; S. aureus JE2, FPR...
124  125         C. albicans ATCC 20260; P. aeruginosa PAO1

[125 rows x 2 columns]

In [339]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Strain"]
    arr = dados_strain.loc[dados_strain["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [340]:
dados_int["Strain_id"] = ids
del dados_int["Strain"]
dados_int
#dados_int.to_csv("Dados_interacao", sep='\t', encoding='utf-8')

,ï»¿Year,Source,Source_ent_ID,Source_Type,Interaction_type,Target,Target_ent_ID,Target_Type,Mode_Growth,Method,Disease,Observations,URL,Strain_id
0,2017,1,569,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
1,2017,1,20,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
2,2017,1,840,Cell,2,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
3,2017,1,472,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
4,2017,1,440,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,Cell,Null Effect,1,806,Gene,Planktonic,Microarray,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,39
1307,2005,3,840,Cell,Null Effect,1,389,Gene,Planktonic,Microarray,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,39
1308,1993,3,508,Virulence Factor,2,3,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,91
1309,1993,3,840,Cell,1,1,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,91
1310,1986,1,325,Virulence Factor,2,3,840,Cell,Planktonic,Purification of toxins via electrophoresis,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,31

Obtenção das chaves primárias para cada TYPE

In [351]:
types = []
for _, row in dados_int.iterrows():
    source, target = row["Source_Type"], row["Target_Type"]
    types.add(source), types.add(target)
types_list = list(types)

In [354]:
ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Type": types_list}
dados_type = pd.DataFrame(data)
#dados_type.to_csv("Types_rep",sep='\t', encoding='utf-8')
dados_type

#Os dados ficaram com chaves extras, contudo a DB não irá ser afetada

    ID                 Type
0    1         QS molecule
1    2  Virulence mechanism
2    3                 Cell
3    4                Other
4    5          QS molecule
5    6                 Gene
6    7     Virulence factor
7    8              Protein
8    9  Virulence Mechanism
9   10     Virulence Factor
10  11          QS Molecule
11  12            QS System

In [353]:
# dados_types= pd.read_csv("Type_prev.csv",encoding=enc['encoding'], sep=";")
# dados_types.columns = ["ID", "Type"]
# dados_types

   ID                 Type
0   1  Virulence mechanism
1   2                 Cell
2   3                 Gene
3   4          QS molecule
4   5     Virulence factor
5   6                Other
6   7              Protein
7   8         QS molecule
8   9            QS System

In [350]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Source_Type"]
    arr = dados_type.loc[dados_type["Type"] == dtype, "ID"]._index._data
    print(arr)
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

[7]
[7]
[1]
[7]
[7]
[5]
[7]
[7]
[7]
[7]
[7]
[7]
[7]
[7]
[1]
[7]
[7]
[5]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[5]
[5]
[1]
[1]
[1]
[3]
[3]
[3]
[3]
[3]
[3]
[1]
[1]
[3]
[1]
[1]
[5]
[5]
[1]
[1]
[1]
[5]
[5]
[1]
[1]
[5]
[5]
[1]
[1]
[1]
[1]
[5]
[5]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[5]
[5]
[1]
[1]
[5]
[5]
[1]
[1]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[3]
[4]
[1]
[1]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[4]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[3]
[3]
[3]
[3]
[3]
[3]
[3]
[4]
[4]
[3]
[3]
[3]
[3]
[3]
[1]
[1]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[5]
[1]
[1]
[3]
[3]
[1]
[1]
[3]
[3]
[3]
[3]
[3]
[3]
[1]
[1]
[3]
[3]
[3]
[1]
[3]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[1]
[]

TypeError: only size-1 arrays can be converted to Python scalars

In [124]:
dados_int["Source_Type_ID"] = ids
#del dados_int["Source_Type"]

In [125]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Target_Type"]
    arr = dados_type.loc[dados_type["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [126]:
dados_int["Target_Type_ID"] = ids
del dados_int["Target_Type"]

In [153]:
#dados_int.to_csv("Dados_interacao", sep='\t', encoding='utf-8')

dados_int= pd.read_csv("Dados_interacao.csv",encoding=enc['encoding'], sep=";")
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Mode_Growth,Method,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID
0,2017,1,569,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
1,2017,1,20,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
2,2017,1,840,2,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3
3,2017,1,472,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
4,2017,1,440,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,Planktonic,Microarray,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8
1307,2005,3,840,3,1,389,Planktonic,Microarray,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8
1308,1993,3,508,2,3,840,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5
1309,1993,3,840,1,1,840,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5
1310,1986,1,325,2,3,840,Planktonic,Purification of toxins via electrophoresis,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5

Obtenção das chaves primárias de cada MÉTODO

In [154]:
types = set()
for _, row in dados_int.iterrows():
    method = row["Method"]
    types.add(method)
types_list = list(types)

ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Method": types_list}
dados_metodo = pd.DataFrame(data)
#dados_metodo.to_csv("Dados_Method", sep='\t', encoding='utf-8')

dados_metodo

      ID                                             Method
0      1                            Methylene blue staining
1      2  Bacterial lawn growth; Colony morphology analysis
2      3  Phenotypic analysis (colony size, pigmentation...
3      4                                 Spectrophotometry
4      5                          Agar inhibition zone; CFU
..   ...                                                ...
109  110                             RNA sequencing; RT-PCR
110  111                                 Cross streak assay
111  112                       Rifampicin resistance method
112  113                                 RT-PCR; UPLC-MS/MS
113  114                                      MALDI-TOF IMS

[114 rows x 2 columns]

In [156]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Method"]
    arr = dados_metodo.loc[dados_metodo["Method"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [159]:
dados_int["Method_id"] = ids
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Mode_Growth,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID,Method_id
0,2017,1,569,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
1,2017,1,20,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
2,2017,1,840,2,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3,80
3,2017,1,472,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
4,2017,1,440,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,Planktonic,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20
1307,2005,3,840,3,1,389,Planktonic,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20
1308,1993,3,508,2,3,840,Planktonic,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5,87
1309,1993,3,840,1,1,840,Planktonic,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5,87
1310,1986,1,325,2,3,840,Planktonic,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5,7

Obtenção das chaves do MODO DE CRESCIMENTO

In [3]:
types = set()
for _, row in dados_int.iterrows():
    method = row["Mode_Growth"]
    types.add(method)
types_list = list(types)

ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Mode_Growth": types_list}
dados_mode = pd.DataFrame(data)

In [162]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Mode_Growth"]
    arr = dados_metodo.loc[dados_metodo["Mode_Growth"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [167]:
dados_int["Mode_Growth_id"] = ids
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID,Method_id,Mode_Growth_id
0,2017,1,569,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
1,2017,1,20,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
2,2017,1,840,2,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3,80,3
3,2017,1,472,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
4,2017,1,440,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20,1
1307,2005,3,840,3,1,389,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20,1
1308,1993,3,508,2,3,840,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5,87,1
1309,1993,3,840,1,1,840,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5,87,1
1310,1986,1,325,2,3,840,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5,7,1

Todos os IDS SOURCE E TARGET que estão presentes na tabela de INTERAÇÕES

In [13]:
dados_source= pd.read_csv('Source.csv', encoding=enc['encoding'], sep=";")
dados_target= pd.read_csv('Target.csv', encoding=enc['encoding'], sep=";")
del dados_source["Unnamed: 4"]
dados_source

      ID  Organismo_fk  Source_ent_ID  Source_Type_ID
0      1             1            569               6
1      2             1             20               6
2      3             1            840               5
3      4             1            472               6
4      5             1            440               6
...   ..           ...            ...             ...
1306 NaN             2            840               5
1307 NaN             2            840               5
1308 NaN             1            508              11
1309 NaN             2            840               5
1310 NaN             1            325              11

[1311 rows x 4 columns]

In [60]:
unique=[]
for _, row in dados_source.iterrows():
    org,ent,type= row["Organismo_fk"],row["Source_ent_ID"],row["Source_Type_ID"]
    if (org,ent,type) not in unique:
        unique.append((org,ent,type))
print(unique)
print(len(unique))

[(1.0, 569.0, 6.0), (1.0, 20.0, 6.0), (1.0, 840.0, 5.0), (1.0, 472.0, 6.0), (1.0, 440.0, 6.0), (1.0, 372.0, 10.0), (1.0, 840.0, 6.0), (1.0, 372.0, 6.0), (1.0, 569.0, 7.0), (2.0, 840.0, 5.0), (1.0, 124.0, 10.0), (2.0, 365.0, 7.0), (2.0, 163.0, 7.0), (2.0, 372.0, 10.0), (2.0, 41.0, 10.0), (2.0, 168.0, 10.0), (1.0, 440.0, 7.0), (1.0, 367.0, 4.0), (1.0, 181.0, 4.0), (1.0, 472.0, 7.0), (1.0, 179.0, 4.0), (1.0, 315.0, 10.0), (1.0, 458.0, 11.0), (2.0, 458.0, 11.0), (1.0, 869.0, 8.0), (1.0, 506.0, 8.0), (1.0, 543.0, 8.0), (1.0, 736.0, 8.0), (2.0, 366.0, 11.0), (1.0, 453.0, 12.0), (1.0, 282.0, 11.0), (1.0, 386.0, 11.0), (1.0, 682.0, 11.0), (1.0, 367.0, 11.0), (1.0, 114.0, 11.0), (2.0, 349.0, 11.0), (1.0, 265.0, 10.0), (1.0, 508.0, 11.0), (1.0, 603.0, 11.0), (1.0, 821.0, 8.0), (1.0, 423.0, 8.0), (1.0, 210.0, 8.0), (1.0, 105.0, 8.0), (1.0, 233.0, 8.0), (1.0, 838.0, 8.0), (1.0, 645.0, 8.0), (1.0, 450.0, 12.0), (1.0, 625.0, 11.0), (1.0, 472.0, 12.0), (1.0, 464.0, 8.0), (1.0, 316.0, 8.0), (1.0, 440.0, 12.0), (1.0, 191.0, 8.0), (3.0, 259.0, 1.0), (3.0, 704.0, 8.0), (3.0, 477.0, 8.0), (1.0, 671.0, 5.0), (1.0, 611.0, 10.0), (1.0, 65.0, 10.0), (2.0, 783.0, 10.0), (2.0, 627.0, 10.0), (1.0, 279.0, 5.0), (1.0, 816.0, 5.0), (1.0, 22.0, 2.0), (1.0, 659.0, 11.0), (1.0, 280.0, 11.0), (1.0, 892.0, 8.0), (1.0, 119.0, 8.0), (1.0, 325.0, 11.0)]
69

In [62]:
ent_id=[]
for i in range(len(unique)-1):
    ent_id.append(unique[i][1])
print(len(ent_id))
org_id=[]
for i in range(len(unique)-1):
    org_id.append(unique[i][0])
print(len(org_id))
type_id=[]
for i in range(len(unique)-1):
    type_id.append(unique[i][2])
print(len(type_id))
data = {"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Source = pd.DataFrame(data)
dados_Source
#dados_Source.to_csv("Dados_Source", sep='\t', encoding='utf-8')

#Não estão presentes todos os IDS da SOURCE

68
68
68

    Org_id  Ent_id  Type_id
0        1     569        6
1        1      20        6
2        1     840        5
3        1     472        6
4        1     440        6
..     ...     ...      ...
63       1      22        2
64       1     659       11
65       1     280       11
66       1     892        8
67       1     119        8

[68 rows x 3 columns]

In [63]:
dados_target.columns=["Organismo","Target_ID","Target_Type_ID"]
dados_target

unique=[]
for _, row in dados_target.iterrows():
    org,ent,type= row["Organismo"],row["Target_ID"],row["Target_Type_ID"]
    if (org,ent,type) not in unique:
        unique.append((org,ent,type))

ent_id=[]
for i in range(len(unique)-1):
    ent_id.append(unique[i][1])
print(len(ent_id))
org_id=[]
for i in range(len(unique)-1):
    org_id.append(unique[i][0])
print(len(org_id))
type_id=[]
for i in range(len(unique)-1):
    type_id.append(unique[i][2])
print(len(type_id))


data = {"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)
dados_Target.to_csv("Dados_Target", sep='\t', encoding='utf-8')

906
906
906

In [75]:
dados_Target= pd.read_csv('Dados_Target.csv', encoding=enc['encoding'], sep=";")
dados_Target.columns=["ID","Org_id","Ent_id","Type_id"]
dados_Target

      ID  Org_id  Ent_id  Type_id
0      1       2       5        3
1      2       2     778        3
2      3       2     840        5
3      4       2     766        8
4      5       2     269        8
..   ...     ...     ...      ...
901  902       1     379        8
902  903       1     251        8
903  904       1     597        8
904  905       1     888        8
905  906       1     806        8

[906 rows x 4 columns]

In [79]:
dados_Source=pd.read_csv('Dados_Source.csv', encoding=enc['encoding'], sep=";")
dados_Source.columns=["ID","Org_id","Ent_id","Type_id"]
dados_Source

    ID  Org_id  Ent_id  Type_id
0    1       1     569        6
1    2       1      20        6
2    3       1     840        5
3    4       1     472        6
4    5       1     440        6
..  ..     ...     ...      ...
63  64       1      22        2
64  65       1     659       11
65  66       1     280       11
66  67       1     892        8
67  68       1     119        8

[68 rows x 4 columns]

In [15]:
dados_int= pd.read_csv('Interação_ids.csv', encoding=enc['encoding'], sep=";")
del dados_int["ï»¿ID"]
dados_int

,Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Disease,Strain_id,Source_Type_ID,Target_Type_ID,Method_id,Mode_Growth_id,Observations
0,2017,1,569,1,2,5,1,23,6,3,80,3,The influence of P. aeruginosa on the C. albic...
1,2017,1,20,1,2,5,1,23,6,3,80,3,The influence of P. aeruginosa on the C. albic...
2,2017,1,840,2,2,5,1,23,5,3,80,3,The influence of P. aeruginosa on the C. albic...
3,2017,1,472,1,2,5,1,23,6,3,80,3,The influence of P. aeruginosa on the C. albic...
4,2017,1,440,1,2,5,1,23,6,3,80,3,The influence of P. aeruginosa on the C. albic...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,11,1,5,8,20,1,The iron regulated gene PA5312 (probable aldeh...
1307,2005,3,840,3,1,389,11,1,5,8,20,1,The iron regulated gene PA5313 (probable pyrid...
1308,1993,3,508,2,3,840,1,3,11,5,87,1,"P. aeruginosa produces LasA, a staphylolytic p..."
1309,1993,3,840,1,1,840,1,3,5,5,87,1,"P. aeruginosa produces LasA, a staphylolytic p..."
1310,1986,1,325,2,3,840,1,7,11,5,7,1,Seven out of eight P. aeruginosa clinical isol...

In [17]:
Source=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Source"],row["Source_ent_ID"],row["Source_Type_ID"]
    if (org,ent,type) not in Source:
        Source.append((org,ent,type))


ids = [i+1 for i in range(len(Source))]
org_id=[]
for i in range(len(Source)-1):
    org_id.append(Source[i][0])
org_id.append(1)
ent_id=[]
for i in range(len(Source)-1):
    ent_id.append(Source[i][1])
ent_id.append(325)
type_id=[]
for i in range(len(Source)-1):
    type_id.append(Source[i][2])
type_id.append(11)
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Source = pd.DataFrame(data)
dados_Source

#Já esta presente todos os dados

    ID  Org_id  Ent_id  Type_id
0    1       1     569        6
1    2       1      20        6
2    3       1     840        5
3    4       1     472        6
4    5       1     440        6
..  ..     ...     ...      ...
67  68       1     892        8
68  69       1     119        8
69  70       3     105        8
70  71       3     508       11
71  72       1     325       11

[72 rows x 4 columns]

In [18]:
ids_s=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Source"],row["Source_ent_ID"],row["Source_Type_ID"]
    for _, row in dados_Source.iterrows():
        ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
        if (org,ent,type)== (orgs,ents,types):
            ids_s.append(ids)

dados_int["Source_ID"]= ids_s

In [19]:
Source=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    if (org,ent,type) not in Source:
        Source.append((org,ent,type))


ids = [i+1 for i in range(len(Source)-1)]
org_id=[]
for i in range(len(Source)-1):
    org_id.append(Source[i][0])
ent_id=[]
for i in range(len(Source)-1):
    ent_id.append(Source[i][1])
type_id=[]
for i in range(len(Source)-1):
    type_id.append(Source[i][2])
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)

# dados_Target.to_csv("Dados_Target_e", sep='\t', encoding='utf-8')


dados_Target = pd.DataFrame(data)
dados_Target

      ID  Org_id  Ent_id  Type_id
0      1       2       5        3
1      2       2     778        3
2      3       2     840        5
3      4       2     766        8
4      5       2     269        8
..   ...     ...     ...      ...
867  868       1     379        8
868  869       1     251        8
869  870       1     597        8
870  871       1     888        8
871  872       1     806        8

[872 rows x 4 columns]

In [20]:
values=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    values.append((org,ent,type))

values2=[]
for _, row in dados_Target.iterrows():
    ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
    values2.append((orgs,ents,types))

uni=set()
for i in values:
    if i not in values2:
        uni.add(i)
uni=list(uni)

org_id=[]
for i in range(len(Source)-1):
    org_id.append(Source[i][0])
for j in range(len(uni)):
    org_id.append(uni[j][0])
ent_id=[]
for i in range(len(Source)-1):
    ent_id.append(Source[i][1])
for j in range(len(uni)):
    ent_id.append(uni[j][1])
type_id=[]
for i in range(len(Source)-1):
    type_id.append(Source[i][2])
for j in range(len(uni)):
    type_id.append(uni[j][2])

print(len(org_id))
print(len(ent_id))
print(len(type_id))

ids = [i+1 for i in range(len(org_id))]
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)
#dados_Target.to_csv("Dados_Target", sep='\t', encoding='utf-8')
dados_Target

873
873
873

      ID  Org_id  Ent_id  Type_id
0      1       2       5        3
1      2       2     778        3
2      3       2     840        5
3      4       2     766        8
4      5       2     269        8
..   ...     ...     ...      ...
868  869       1     251        8
869  870       1     597        8
870  871       1     888        8
871  872       1     806        8
872  873       1     389        8

[873 rows x 4 columns]

In [21]:
values=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    values.append((org,ent,type))

values2=[]
for _, row in dados_Target.iterrows():
    ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
    values2.append((orgs,ents,types))

uni=[]
for i in values:
    if i not in values2:
        uni.append(i)
uni

#Verficar se estão todos os IDs

[]

In [22]:
ids_s=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    for _, row in dados_Target.iterrows():
        ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
        if (org,ent,type)== (orgs,ents,types):
            ids_s.append(ids)
print(len(ids_s))

1311

Obter os datasets finais referentes à INTERAÇÃO, TARGET e SOURCE

In [355]:
#dados_int["Target_ID"]= ids_s
#dados_int.to_csv("Interação_Final", sep='\t', encoding='utf-8')
#dados_Target.to_csv("Dados_Target", sep='\t', encoding='utf-8')
#dados_Source.to_csv("Dados_Source", sep='\t', encoding='utf-8')