**TRATAMENTO DOS DADOS E OBTENÇÃO DAS CHAVES PRIMÁRIAS**

In [1]:
import pandas as pd
import chardet
#Colocação do encoding de leitura
pd.set_option("display.precision",0)
with open('Data_all_July 2020_insert.csv', 'rb') as f:
    enc = chardet.detect(f.read())

Leitura do dataset inicial

In [2]:
dados = pd.read_csv('Data_all_July 2020_insert.csv', encoding=enc['encoding'], sep=";")
dados_source = pd.read_csv('Source.csv', encoding=enc['encoding'], sep=";")
dados_source.columns = ["Organismo", "Source_Entity", "Source_Type", "Target", "Target_Entity", "Target_Type"]
dados_source

Colocação do ID da ENTIDADE

In [47]:
types = set()
for _, row in dados_source.iterrows():
    source, target = row["Source_Entity"], row["Target_Entity"]
    types.add(source), types.add(target)
types_list = list(types)

In [48]:
ids = [i+1 for i in range(len(types_list))]

In [49]:
data = {"ID": ids, "Type": types_list}
dados_entidade = pd.DataFrame(data)
dados_entidade

      ID            Type
0      1   SAOUHSC_00281
1      2          PA4218
2      3     CR_05860W_A
3      4            mexG
4      5            isdC
..   ...             ...
892  893            lpdG
893  894  USA300HOU_2200
894  895  SAOUHSC_T00016
895  896            nrdI
896  897     C3_05450C_A

[897 rows x 2 columns]

In [50]:
#Entidade
dados_entidade.to_csv("Type_id", sep='\t', encoding='utf-8')

In [51]:
ids = []
for _, row in dados_source.iterrows():
    dtype = row["Source_Entity"]
    arr = dados_entidade.loc[dados_entidade["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
print(len(ids))
#print(ids)

1311

Colocação da ENTIDADE para cada linha da coluna INTERAÇÃO

In [52]:
dados_source["Source_ID"] = ids
dados_source

,Organismo,Source_Entity,Source_Type,Target,Target_Entity,Target_Type,Source_ID
0,P. aeruginosa,3-oxo-C12-HSL,QS molecule,C. albicans,Adhesion,Virulence mechanism,438
1,P. aeruginosa,C4HSL,QS molecule,C. albicans,Adhesion,Virulence mechanism,885
2,P. aeruginosa,Cell,Cell,C. albicans,Adhesion,Virulence mechanism,248
3,P. aeruginosa,HHQ,QS molecule,C. albicans,Adhesion,Virulence mechanism,858
4,P. aeruginosa,PQS,QS molecule,C. albicans,Adhesion,Virulence mechanism,611
...,...,...,...,...,...,...,...
1306,S. aureus,Cell,Cell,P. aeruginosa,PA5312,Gene,248
1307,S. aureus,Cell,Cell,P. aeruginosa,PA5313,Gene,248
1308,P. aeruginosa,LasA protease,Virulence Factor,S. aureus,Cell,Cell,177
1309,S. aureus,Cell,Cell,P. aeruginosa,Cell,Cell,248
1310,P. aeruginosa,Staphylolytic toxin,Virulence Factor,S. aureus,Cell,Cell,532

In [53]:
ids = []
for _, row in dados_source.iterrows():
    dtype = row["Target_Entity"]
    arr = dados_entidade.loc[dados_entidade["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [54]:
dados_source["Target_ID"] = ids
dados_source

dados_source.to_csv("Source_Target_id", sep='\t', encoding='utf-8')

In [ ]:
#dados_source = dados_source.drop("Source_Entity", axis=1)
#dados_source = dados_source.drop("Target_Entity", axis=1)

Depois de remover as colunas da entidade e colocar as previamente criadas com as chaves

In [2]:
dados_int= pd.read_csv("Dados_Sorce_Target_Number.csv",encoding=enc['encoding'], sep=";")
dados_int

,ï»¿Year,Source,Source_ent_ID,Source_Type,Interaction_type,Target,Target_ent_ID,Target_Type,Mode_Growth,Method,Disease,Strain,Observations,URL
0,2017,1,569,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
1,2017,1,20,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
2,2017,1,840,Cell,2,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
3,2017,1,472,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
4,2017,1,440,Qs molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,C. albicans ATCC 10231; P. aeruginosa PAO1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,Cell,Null Effect,1,806,Gene,Planktonic,Microarray,11,P. aeruginosa PA14; S. aureus MN8,The iron regulated Gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927
1307,2005,3,840,Cell,Null Effect,1,389,Gene,Planktonic,Microarray,11,P. aeruginosa PA14; S. aureus MN8,The iron regulated Gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927
1308,1993,3,508,Virulence factor,2,3,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,P. aeruginosa PAO1; S. aureus Newman D2C,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280
1309,1993,3,840,Cell,1,1,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,P. aeruginosa PAO1; S. aureus Newman D2C,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280
1310,1986,1,325,Virulence factor,2,3,840,Cell,Planktonic,Purification of toxins via electrophoresis,1,P. aeruginosa clinical isolates; S. aureus ATC...,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524

Obtenção das chaves para cada "Strain" da tabela INTERAÇÃO

In [337]:
types = set()
for _, row in dados_int.iterrows():
    strain = row["Strain"]
    types.add(strain)
types_list = list(types)

In [338]:
ids = [i+1 for i in range(len(types_list))]

data = {"ID": ids, "Type": types_list}
dados_strain = pd.DataFrame(data)
dados_strain
#dados_strain.to_csv("T", sep='\t', encoding='utf-8')

      ID                                               Type
0      1              P. aeruginosaUCBPP-PA14; S. aureusMN8
1      2  C. albicans SC5314; P. aeruginosa PAO1, seven ...
2      3       P. aeruginosa ?mucA ?pslBCD; S. aureus 15981
3      4           P. aeruginosaÂ DK2; S. aureusÂ LMG 10147
4      5        P. aeruginosa DK2-P2M24-2003;  S. aureusJE2
..   ...                                                ...
120  121                               C. albicans BWP17AHU
121  122                P. aeruginosa PAO1; S. aureus 15981
122  123  P. aeruginosa PAO1 and persistent isolates; S....
123  124   P. aeruginosa DK2 isolate; S. aureus JE2, FPR...
124  125         C. albicans ATCC 20260; P. aeruginosa PAO1

[125 rows x 2 columns]

In [339]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Strain"]
    arr = dados_strain.loc[dados_strain["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [340]:
dados_int["Strain_id"] = ids
del dados_int["Strain"]
dados_int
#dados_int.to_csv("Dados_interacao", sep='\t', encoding='utf-8')

,ï»¿Year,Source,Source_ent_ID,Source_Type,Interaction_type,Target,Target_ent_ID,Target_Type,Mode_Growth,Method,Disease,Observations,URL,Strain_id
0,2017,1,569,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
1,2017,1,20,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
2,2017,1,840,Cell,2,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
3,2017,1,472,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
4,2017,1,440,QS molecule,1,2,5,Virulence mechanism,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,Cell,Null Effect,1,806,Gene,Planktonic,Microarray,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,39
1307,2005,3,840,Cell,Null Effect,1,389,Gene,Planktonic,Microarray,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,39
1308,1993,3,508,Virulence Factor,2,3,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,91
1309,1993,3,840,Cell,1,1,840,Cell,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,91
1310,1986,1,325,Virulence Factor,2,3,840,Cell,Planktonic,Purification of toxins via electrophoresis,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,31

Obtenção das chaves primárias para cada TYPE

In [8]:
types = set()
for _, row in dados_int.iterrows():
    source, target = row["Source_Type"], row["Target_Type"]
    types.add(source), types.add(target)
types_list = list(types)

In [133]:
ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Type": types_list}
dados_type = pd.DataFrame(data)
dados_type.to_csv("Types_rep",sep='\t', encoding='utf-8')
dados_type

#Os dados ficaram com chaves extras, contudo a DB não irá ser afetada

   ID                 Type
0   1                 Gene
1   2  Virulence mechanism
2   3                 Cell
3   4                Other
4   5         Qs molecule
5   6            QS System
6   7          Qs molecule
7   8              Protein
8   9     Virulence factor

In [12]:
dados_types= pd.read_csv("Type_prev.csv",encoding=enc['encoding'], sep=";")
dados_types.columns = ["ID", "Type"]
dados_types

   ID                 Type
0   1  Virulence mechanism
1   2                 Cell
2   3                 Gene
3   4          QS molecule
4   5     Virulence factor
5   6                Other
6   7              Protein
7   8            QS System

In [14]:
types = set()
for _, row in dados_int.iterrows():
    source, target = row["Source_Type"], row["Target_Type"]
    types.add(source), types.add(target)
types_list = list(types)

In [15]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Source_Type"]
    arr = dados_type.loc[dados_type["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [16]:
dados_int["Source_Type_ID"] = ids
#del dados_int["Source_Type"]

In [17]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Target_Type"]
    arr = dados_type.loc[dados_type["Type"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [22]:
dados_int["Target_Type_ID"] = ids
dados_int
dados_int.to_csv("Deu", sep='\t', encoding='utf-8')

In [153]:
#dados_int.to_csv("Dados_interacao", sep='\t', encoding='utf-8')

dados_int= pd.read_csv("Dados_interacao.csv",encoding=enc['encoding'], sep=";")
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Mode_Growth,Method,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID
0,2017,1,569,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
1,2017,1,20,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
2,2017,1,840,2,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3
3,2017,1,472,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
4,2017,1,440,1,2,5,Biofilm,Microscopy,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,Planktonic,Microarray,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8
1307,2005,3,840,3,1,389,Planktonic,Microarray,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8
1308,1993,3,508,2,3,840,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5
1309,1993,3,840,1,1,840,Planktonic,Spectrophotometry; SDS-PAGE; Immunoblotting,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5
1310,1986,1,325,2,3,840,Planktonic,Purification of toxins via electrophoresis,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5

Obtenção das chaves primárias de cada MÉTODO

In [154]:
types = set()
for _, row in dados_int.iterrows():
    method = row["Method"]
    types.add(method)
types_list = list(types)

ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Method": types_list}
dados_metodo = pd.DataFrame(data)
#dados_metodo.to_csv("Dados_Method", sep='\t', encoding='utf-8')

dados_metodo

      ID                                             Method
0      1                            Methylene blue staining
1      2  Bacterial lawn growth; Colony morphology analysis
2      3  Phenotypic analysis (colony size, pigmentation...
3      4                                 Spectrophotometry
4      5                          Agar inhibition zone; CFU
..   ...                                                ...
109  110                             RNA sequencing; RT-PCR
110  111                                 Cross streak assay
111  112                       Rifampicin resistance method
112  113                                 RT-PCR; UPLC-MS/MS
113  114                                      MALDI-TOF IMS

[114 rows x 2 columns]

In [156]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Method"]
    arr = dados_metodo.loc[dados_metodo["Method"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [159]:
dados_int["Method_id"] = ids
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Mode_Growth,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID,Method_id
0,2017,1,569,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
1,2017,1,20,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
2,2017,1,840,2,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3,80
3,2017,1,472,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
4,2017,1,440,1,2,5,Biofilm,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,Planktonic,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20
1307,2005,3,840,3,1,389,Planktonic,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20
1308,1993,3,508,2,3,840,Planktonic,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5,87
1309,1993,3,840,1,1,840,Planktonic,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5,87
1310,1986,1,325,2,3,840,Planktonic,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5,7

Obtenção das chaves do MODO DE CRESCIMENTO

In [3]:
types = set()
for _, row in dados_int.iterrows():
    method = row["Mode_Growth"]
    types.add(method)
types_list = list(types)

ids = [i+1 for i in range(len(types_list))]
data = {"ID": ids, "Mode_Growth": types_list}
dados_mode = pd.DataFrame(data)

In [162]:
ids = []
for _, row in dados_int.iterrows():
    dtype = row["Mode_Growth"]
    arr = dados_metodo.loc[dados_metodo["Mode_Growth"] == dtype, "ID"]._index._data
    ids += [int(arr) + 1]
#print(len(ids))
#print(ids)

In [167]:
dados_int["Mode_Growth_id"] = ids
dados_int

,ï»¿Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Disease,Observations,URL,Strain_id,Source_Type_ID,Target_Type_ID,Method_id,Mode_Growth_id
0,2017,1,569,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
1,2017,1,20,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
2,2017,1,840,2,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,5,3,80,3
3,2017,1,472,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
4,2017,1,440,1,2,5,1,The influence of P. aeruginosa on the C. albic...,http://biointerfaceresearch.com/?download=2000,23,6,3,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,11,The iron regulated gene PA5312 (probable aldeh...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20,1
1307,2005,3,840,3,1,389,11,The iron regulated gene PA5313 (probable pyrid...,https://www.ncbi.nlm.nih.gov/pubmed/15629927,1,5,8,20,1
1308,1993,3,508,2,3,840,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,11,5,87,1
1309,1993,3,840,1,1,840,1,"P. aeruginosa produces LasA, a staphylolytic p...",https://www.ncbi.nlm.nih.gov/pubmed/8463280,3,5,5,87,1
1310,1986,1,325,2,3,840,1,Seven out of eight P. aeruginosa clinical isol...,https://www.ncbi.nlm.nih.gov/pubmed/3093524,7,11,5,7,1

Todos os IDS SOURCE E TARGET que estão presentes na tabela de INTERAÇÕES

In [93]:
dados_source= pd.read_csv('Source.csv', encoding=enc['encoding'], sep=";")
dados_target= pd.read_csv('Target.csv', encoding=enc['encoding'], sep=";")
dados_source

      Organismo_fk  Source_ent_ID  Source_Type_ID
0                1            569               7
1                1             20               7
2                1            840               3
3                1            472               7
4                1            440               7
...            ...            ...             ...
1306             2            840               3
1307             2            840               3
1308             1            508               9
1309             2            840               3
1310             1            325               9

[1311 rows x 3 columns]

In [105]:
unique=set()
for _, row in dados_source.iterrows():
    org,ent,type= row["Organismo_fk"],row["Source_ent_ID"],row["Source_Type_ID"]
    unique.add((org,ent,type))
print(unique)
print(len(unique))
unique= list(unique)

{(1, 816, 3), (3, 704, 1), (2, 349, 9), (1, 840, 3), (1, 325, 9), (2, 840, 3), (1, 119, 1), (1, 440, 5), (1, 423, 1), (1, 659, 9), (1, 315, 4), (1, 645, 1), (3, 477, 1), (1, 821, 1), (1, 20, 7), (1, 372, 4), (1, 233, 1), (2, 366, 9), (2, 372, 4), (1, 386, 9), (1, 22, 2), (2, 163, 7), (1, 840, 5), (1, 179, 9), (2, 783, 4), (1, 280, 9), (1, 458, 9), (2, 365, 7), (1, 569, 5), (1, 869, 1), (1, 472, 5), (1, 506, 1), (1, 282, 9), (1, 838, 1), (1, 543, 1), (1, 440, 7), (1, 453, 7), (1, 464, 1), (1, 191, 1), (1, 105, 1), (2, 458, 9), (2, 627, 4), (1, 181, 9), (3, 259, 6), (1, 20, 5), (2, 41, 4), (1, 625, 9), (1, 671, 3), (1, 316, 1), (1, 611, 4), (1, 65, 4), (1, 569, 7), (1, 603, 9), (1, 472, 7), (1, 450, 7), (1, 508, 9), (1, 682, 9), (1, 124, 4), (1, 279, 3), (1, 114, 9), (1, 367, 9), (1, 372, 5), (2, 168, 4), (1, 736, 1), (1, 265, 4), (1, 210, 1), (1, 892, 1)}
67

In [106]:
ent_id=[]
for i in range(len(unique)-1):
    ent_id.append(unique[i][1])
print(len(ent_id))
org_id=[]
for i in range(len(unique)-1):
    org_id.append(unique[i][0])
print(len(org_id))
type_id=[]
for i in range(len(unique)-1):
    type_id.append(unique[i][2])
print(len(type_id))
data = {"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Source = pd.DataFrame(data)
dados_Source
dados_Source.to_csv("Dados_Sourcev2", sep='\t', encoding='utf-8')

66
66
66

In [109]:
dados_target.columns=["Organismo","Target_ID","Target_Type_ID"]
dados_target

unique=[]
for _, row in dados_target.iterrows():
    org,ent,type= row["Organismo"],row["Target_ID"],row["Target_Type_ID"]
    if (org,ent,type) not in unique:
        unique.append((org,ent,type))

ent_id=[]
for i in range(len(unique)-1):
    ent_id.append(unique[i][1])
print(len(ent_id))
org_id=[]
for i in range(len(unique)-1):
    org_id.append(unique[i][0])
print(len(org_id))
type_id=[]
for i in range(len(unique)-1):
    type_id.append(unique[i][2])
print(len(type_id))


data = {"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)
#dados_Target.to_csv("Dados_Targetv2", sep='\t', encoding='utf-8')
dados_Target

902
902
902

     Org_id  Ent_id  Type_id
0         2       5        2
1         2     778        2
2         2     840        3
3         2     766        1
4         2     269        1
..      ...     ...      ...
897       1     379        1
898       1     251        1
899       1     597        1
900       1     888        1
901       1     806        1

[902 rows x 3 columns]

In [111]:
dados_Target= pd.read_csv('Dados_Targetv2.csv', encoding=enc['encoding'], sep=";")
dados_Target
dados_Target.columns=["ID","Org_id","Ent_id","Type_id"]
dados_Target

      ID  Org_id  Ent_id  Type_id
0      0       2       5        2
1      1       2     778        2
2      2       2     840        3
3      3       2     766        1
4      4       2     269        1
..   ...     ...     ...      ...
897  897       1     379        1
898  898       1     251        1
899  899       1     597        1
900  900       1     888        1
901  901       1     806        1

[902 rows x 4 columns]

In [89]:
dados_Source=pd.read_csv('Dados_Sourcev2.csv', encoding=enc['encoding'], sep=";")
dados_Source.columns=["ID","Org_id","Ent_id","Type_id"]
dados_Source

    ID  Org_id  Ent_id  Type_id
0    1       1     569        7
1    2       1      20        7
2    3       1     840        3
3    4       1     472        7
4    5       1     440        7
..  ..     ...     ...      ...
61  62       1      22        2
62  63       1     659        9
63  64       1     280        9
64  65       1     892        1
65  66       1     119        1

[66 rows x 4 columns]

In [112]:
dados_int= pd.read_csv('Interação_ids.csv', encoding=enc['encoding'], sep=";")
del dados_int["ï»¿ID"]
dados_int

,Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Disease,Strain_id,Source_Type_ID,Target_Type_ID,Method_id,Mode_Growth_id,Observations
0,2017,1,569,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...
1,2017,1,20,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...
2,2017,1,840,2,2,5,1,23,3,2,80,3,The influence of P. aeruginosa on the C. albic...
3,2017,1,472,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...
4,2017,1,440,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,11,1,3,1,20,1,The iron regulated gene PA5312 (probable aldeh...
1307,2005,3,840,3,1,389,11,1,3,1,20,1,The iron regulated gene PA5313 (probable pyrid...
1308,1993,3,508,2,3,840,1,3,9,3,87,1,"P. aeruginosa produces LasA, a staphylolytic p..."
1309,1993,3,840,1,1,840,1,3,3,3,87,1,"P. aeruginosa produces LasA, a staphylolytic p..."
1310,1986,1,325,2,3,840,1,7,9,3,7,1,Seven out of eight P. aeruginosa clinical isol...

In [122]:
Source=set()
for _, row in dados_int.iterrows():
    org,ent,type= row["Source"],row["Source_ent_ID"],row["Source_Type_ID"]
    Source.add((org,ent,type))

Source=list(Source)
ids = [i+1 for i in range(len(Source))]
print(len(ids))
org_id=[]
for i in range(len(Source)):
    org_id.append(Source[i][0])
print(len(org_id))
ent_id=[]
for i in range(len(Source)):
    ent_id.append(Source[i][1])
type_id=[]
for i in range(len(Source)):
    type_id.append(Source[i][2])
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Source = pd.DataFrame(data)
dados_Source

#Já esta presente todos os dados

70
70

    ID  Org_id  Ent_id  Type_id
0    1       1     816        3
1    2       3     704        1
2    3       1     840        3
3    4       1     325        9
4    5       2     840        3
..  ..     ...     ...      ...
65  66       2     168        4
66  67       1     736        1
67  68       1     265        4
68  69       1     210        1
69  70       1     892        1

[70 rows x 4 columns]

In [123]:
values=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Source"],row["Source_ent_ID"],row["Source_Type_ID"]
    values.append((org,ent,type))

values2=[]
for _, row in dados_Source.iterrows():
    ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
    values2.append((orgs,ents,types))

uni=set()
for i in values:
    if i not in values2:
        uni.add(i)
uni=list(uni)
uni

[]

In [125]:
ids_s=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Source"],row["Source_ent_ID"],row["Source_Type_ID"]
    for _, row in dados_Source.iterrows():
        ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
        if (org,ent,type)== (orgs,ents,types):
            ids_s.append(ids)
            
dados_int["Source_ID"]= ids_s
dados_int

,Year,Source,Source_ent_ID,Interaction_type,Target,Target_ent_ID,Disease,Strain_id,Source_Type_ID,Target_Type_ID,Method_id,Mode_Growth_id,Observations,Source_ID
0,2017,1,569,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...,54
1,2017,1,20,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...,17
2,2017,1,840,2,2,5,1,23,3,2,80,3,The influence of P. aeruginosa on the C. albic...,3
3,2017,1,472,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...,56
4,2017,1,440,1,2,5,1,23,7,2,80,3,The influence of P. aeruginosa on the C. albic...,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,2005,3,840,3,1,806,11,1,3,1,20,1,The iron regulated gene PA5312 (probable aldeh...,52
1307,2005,3,840,3,1,389,11,1,3,1,20,1,The iron regulated gene PA5313 (probable pyrid...,52
1308,1993,3,508,2,3,840,1,3,9,3,87,1,"P. aeruginosa produces LasA, a staphylolytic p...",27
1309,1993,3,840,1,1,840,1,3,3,3,87,1,"P. aeruginosa produces LasA, a staphylolytic p...",52
1310,1986,1,325,2,3,840,1,7,9,3,7,1,Seven out of eight P. aeruginosa clinical isol...,4

In [126]:
Source=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    if (org,ent,type) not in Source:
        Source.append((org,ent,type))


ids = [i+1 for i in range(len(Source)-1)]
org_id=[]
for i in range(len(Source)-1):
    org_id.append(Source[i][0])
ent_id=[]
for i in range(len(Source)-1):
    ent_id.append(Source[i][1])
type_id=[]
for i in range(len(Source)-1):
    type_id.append(Source[i][2])
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)

# dados_Target.to_csv("Dados_Target_e", sep='\t', encoding='utf-8')


dados_Target = pd.DataFrame(data)
dados_Target

      ID  Org_id  Ent_id  Type_id
0      1       2       5        2
1      2       2     778        2
2      3       2     840        3
3      4       2     766        1
4      5       2     269        1
..   ...     ...     ...      ...
863  864       1     379        1
864  865       1     251        1
865  866       1     597        1
866  867       1     888        1
867  868       1     806        1

[868 rows x 4 columns]

In [127]:
values=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    values.append((org,ent,type))

values2=[]
for _, row in dados_Target.iterrows():
    ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
    values2.append((orgs,ents,types))

uni=set()
for i in values:
    if i not in values2:
        uni.add(i)
uni=list(uni)

org_id=[]
for i in range(len(Source)-1):
    org_id.append(Source[i][0])
for j in range(len(uni)):
    org_id.append(uni[j][0])
ent_id=[]
for i in range(len(Source)-1):
    ent_id.append(Source[i][1])
for j in range(len(uni)):
    ent_id.append(uni[j][1])
type_id=[]
for i in range(len(Source)-1):
    type_id.append(Source[i][2])
for j in range(len(uni)):
    type_id.append(uni[j][2])

ids = [i+1 for i in range(len(org_id))]
data = {"ID":ids,"Org_id": org_id, "Ent_id": ent_id, "Type_id": type_id}
dados_Target = pd.DataFrame(data)
#dados_Target.to_csv("Dados_Target", sep='\t', encoding='utf-8')
dados_Target

      ID  Org_id  Ent_id  Type_id
0      1       2       5        2
1      2       2     778        2
2      3       2     840        3
3      4       2     766        1
4      5       2     269        1
..   ...     ...     ...      ...
864  865       1     251        1
865  866       1     597        1
866  867       1     888        1
867  868       1     806        1
868  869       1     389        1

[869 rows x 4 columns]

In [128]:
values=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    values.append((org,ent,type))

values2=[]
for _, row in dados_Target.iterrows():
    ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
    values2.append((orgs,ents,types))

uni=[]
for i in values:
    if i not in values2:
        uni.append(i)
uni

#Verficar se estão todos os IDs

[]

In [129]:
ids_s=[]
for _, row in dados_int.iterrows():
    org,ent,type= row["Target"],row["Target_ent_ID"],row["Target_Type_ID"]
    for _, row in dados_Target.iterrows():
        ids,orgs,ents,types= row["ID"],row["Org_id"],row["Ent_id"],row["Type_id"]
        if (org,ent,type)== (orgs,ents,types):
            ids_s.append(ids)
print(len(ids_s))

1311

In [131]:
dados_int["Target_ID"]= ids_s

Obter os datasets finais referentes à INTERAÇÃO, TARGET e SOURCE

In [132]:
#dados_int["Target_ID"]= ids_s
dados_int.to_csv("Interação_Finalv2", sep='\t', encoding='utf-8')
dados_Target.to_csv("Dados_Targetv2", sep='\t', encoding='utf-8')
dados_Source.to_csv("Dados_Sourcev2", sep='\t', encoding='utf-8')